@font-face {
    font-family: "Manrope-Medium";
    src: url(../fonts/Manrope-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Manrope-Regular";
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NeutrelFace";
    src: url(../fonts/NeutralFace.otf);
    font-weight: 500;
    font-style: normal;
}